/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: aqua;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: deeppink;
    color: white;
  }

article{
    background-color: whitesmoke;
    border-style: groove;
    border-color: crimson;
    border-radius: 5px;
    border-width: 3px;
    padding: 0%;
    box-sizing: border-box;
}

figcaption{
    width: 200px;
    height: 100px;
    font-size: larger;
    margin: 0%;
    border-style: dotted;
    background-color: deeppink;
    border-width: 3px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float:left;
}